div {
    padding: .1em 1em;

    h3 {
        border-bottom: 1px solid;
        padding: .5em;
    }

    img {
        border-radius: 1em;
    }

    .users {
        margin: 1em;
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        justify-content: center;

        >div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .5em;
            padding: 1em;
            height: fit-content;
            width: fit-content;
            border: solid var(--color3);
            border-radius: 1em;

            button {
                margin: .5em;
            }
        }
    }

    .edit {
        background-color: var(--color1);
        position: absolute;
        z-index: 2;
        width: fit-content;
        height: fit-content;
        opacity: .9;
        top: 40vh;
        left: 40vw;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1em;
            gap: 1vw;
            border-radius: 1em;

            div {
                display: flex;
                gap: .5vw;
            }
        }
    }

    .btn-group {
        margin: 1em;
        display: flex;
        justify-content: center;
        gap: 2em;
    }
}