<div>
    <h3>List User</h3>
    <div class="users">
        <ng-template [ngIf]="listUsers">
            <div *ngFor="let user of listUsers.data">
                <img [src]="user.avatar" alt={{user.first_name}}>
                <b>{{user.first_name + " "+ user.last_name}}</b>
                <span>{{user.email}}</span>
                <div>
                    <button (click)="onEdit(user)">Edit</button>
                    <button (click)="onDelete(user.id)">Delete</button>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="btn-group">
        <button class="button" (click)="page=page-1" [disabled]="page-1<1">Page {{page-1}}</button>
        <button class="button">Page {{page}}</button>
        <button class="button" (click)="page=page+1">Page {{page+1}}</button>
    </div>

    <div *ngIf="isEdit" class="edit">
        <h3> Edit {{user.first_name}}</h3>
        <form #userEditForm="ngForm" (ngSubmit)="onSubmitEdit()">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" required [(ngModel)]="user.name" name="name">
            </div>
            <div>
                <label for="job">Job</label>
                <input type="text" id="job" required [(ngModel)]="user.job" name="job">
            </div>
            <button type="submit" [disabled]="!userEditForm.form.valid">Edit</button>
            <button (click)="isEdit=false">Cancel</button>
        </form>
    </div>
</div>