div{
    width: 50vw;
    height: fit-content;
    background-color: var(--color4);

    .header{
        text-align: center;
        width: auto;
        padding: .1em;
        background-color: var(--color3);
    }
}